/* Copy style from corporate.css for datatables pagination */
/* and not to use original css file */

.paginationjs .paginationjs-pages ul > li {
    display: inline-block;
    padding-left: 0;
    font-size: 11px;
}

.paginationjs .paginationjs-pages ul > li.disabled a {
    opacity: .35;
}

.paginationjs .paginationjs-pages ul > li.active > a {
    font-weight: bold;
    color: #575757;
    opacity: 1;
}

.paginationjs .paginationjs-pages ul > li > a {
    padding: 5px 10px;
    color: #575757;
    opacity: .35;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}


/* item detail */
.item-details .item-description > h2 {
    word-break: break-all;
}

.item-details .dialog__content .dialog__overview .delete-image {
    position: absolute;
    bottom: 20px;
    right: 35px;
}

.item-details .dialog__content .dialog__overview .item-slideshow .slide {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
}