<ol xmlns:th="http://www.thymeleaf.org"
    th:fragment="breadcrumb"
    class="breadcrumb">

    <div th:each="breadcrumb, it : ${CMS_RSP.breadcrumbs}" th:remove="tag">

        <li th:if="${not it.last}"
            class="breadcrumb-item">
            <a th:text="${breadcrumb.title}" th:href="${breadcrumb.url}"></a>
        </li>

        <li th:if="${it.last}"
            th:text="${breadcrumb.title}"
            class="breadcrumb-item"
            th:classappend="${it.last} ? 'active'"></li>

    </div>
</ol>