<div xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="/layouts/blank">

    <th:block layout:fragment="custom-css">
        <link th:href="@{/assets/plugins/bootstrap-datepicker/css/datepicker3.css}" rel="stylesheet" type="text/css"
              media="screen">
        <link th:href="@{/assets/plugins/bootstrap-timepicker/bootstrap-timepicker.min.css}" rel="stylesheet"
              type="text/css" media="screen">
        <link th:href="@{/assets/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css}" rel="stylesheet"
              type="text/css" media="screen">
        <link th:href="@{/assets/plugins/summernote/css/summernote.css}" rel="stylesheet" type="text/css"
              media="screen">

        <style>
            .detail-buttons {
                float: right;
            }

            .language-section .tab-content {
                margin-left: -15px;
                margin-right: -15px;
            }

            .bootstrap-timepicker-widget i {
                color: #6d5eac;
                font-weight: 600;
            }

            .tab-content.tab-content-transparent {
                background-color: transparent;
            }
        </style>
    </th:block>

    <div layout:fragment="content">

        <!-- START card -->
        <div class="card card-transparent">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-10">
                        <h1 th:text="${CMS_RSP.pageTitle}"></h1>

                        <div class="row">
                            <div class="col-12">
                                <div class="btn-group detail-buttons">
                                    <a href="../list"
                                       th:href="${CMS_RSP.listUrl}"
                                       class="btn btn-complete detail-list-button">
                                        <i class="fa fa-list-ul"></i>
                                    </a>
                                    <a href="edit"
                                       th:href="${CMS_RSP.editUrl}"
                                       class="btn btn-primary detail-edit-button">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                    <a href="#"
                                       th:attr="data-href = ${CMS_RSP.deleteUrl}"
                                       class="btn btn-danger detail-delete-button">
                                        <i class="fa fa-trash-o"></i>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="form-horizontal">

                            <div th:each="field, it : ${CMS_RSP.fields}"
                                 class="form-group row"
                                 th:classappend="${it.last and not #lists.isEmpty(CMS_RSP.detailFields)} ? 'border-bottom-0 mb-4'"
                                 th:if="${field.show}">

                                <label th:for="${field.id}"
                                       class="col-md-3 control-label"
                                       th:text="${field.title}">Field Title</label>

                                <div class="col-md-9">
                                    <span th:text="${field.value}"></span>
                                </div>
                            </div>

                            <div th:if="${not #lists.isEmpty(CMS_RSP.detailFields)}"
                                 class="card card-transparent language-section">

                                <!-- Language Navigation -->
                                <ul class="nav nav-tabs nav-tabs-fillup" data-init-reponsive-tabs="dropdownfx">
                                    <li th:each="detailField, it2 : ${CMS_RSP.detailFields}"
                                        class="nav-item">
                                        <a href="#"
                                           th:class="${it2.first} ? 'active'"
                                           data-toggle="tab"
                                           th:attr="data-target='#' + ${detailField.language.name()}"
                                           th:text="${detailField.language.getDisplayName()}"></a>
                                    </li>
                                </ul>

                                <!-- Tab panes -->
                                <div class="tab-content tab-content-transparent">
                                    <div th:each="detailField, it2 : ${CMS_RSP.detailFields}"
                                         class="tab-pane slide-left"
                                         th:id="${detailField.language.name()}"
                                         th:classappend="${it2.first} ? 'active'">

                                        <div th:each="field : ${detailField.fields}"
                                             class="form-group row"
                                             th:if="${field.show}">

                                            <label th:for="${field.id}"
                                                   class="col-md-3 control-label"
                                                   th:text="${field.title}">Field Title</label>

                                            <div class="col-md-9">
                                                <span th:utext="${field.value}"></span>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- END card -->

    </div>

    <th:block layout:fragment="custom-js" th:inline="javascript">
        <script th:src="@{/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js}"
                type="text/javascript"></script>
        <script th:src="@{/assets/plugins/bootstrap-timepicker/bootstrap-timepicker.min.js}"
                type="text/javascript"></script>
        <script th:src="@{/assets/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js}"
                type="text/javascript"></script>
        <script th:src="@{/assets/plugins/summernote/js/summernote.min.js}" type="text/javascript"></script>

        <script th:src="@{/assets/js/my-form-element.js}" type="text/javascript"></script>

        <script>
            const myFormElement = new MyFormElement();
            myFormElement.initFormElements();
        </script>

        <script>
            $(".detail-buttons .detail-delete-button").click(function(event) {
                event.preventDefault();

                const deleteUrl = $(this).attr("data-href");

                swal({
                    title: "Are you sure to DELETE this record ?",
                    type: "warning",
                    showCancelButton: true
                })
                    .then((result) => {
                        if (!result.value) return;

                        $.ajax({
                            url: deleteUrl,
                            method: "delete",
                            success: function (response) {
                                swal({
                                    type: "success",
                                    title: "Success!",
                                    timer: 3000
                                })
                                    .then(function() {
                                        const listUrl = $(".detail-buttons .detail-list-button").attr("href");
                                        window.location.replace(listUrl);
                                    });
                            },
                            error: function () {
                                swal({
                                    type: "error",
                                    title: "Failed, please try again later"
                                });
                            }
                        });
                    })
                    .catch(function () {
                    });
            });

        </script>
    </th:block>

</div>