<th:block xmlns:th="http://www.thymeleaf.org"
          th:fragment="input-dropdown">

    <select th:id="${field.id}"
            th:name="${field.id}"
            class="full-width"
            data-init-plugin="select2"
            th:required="${field.required}">
        <option th:each="option : ${field.options}"
                th:id="${option.id}"
                th:value="${option.value}"
                th:text="${option.title}"
                th:selected="${field.value == option.value}"
        ></option>
    </select>

</th:block>