<ol xmlns:th="http://www.thymeleaf.org"
    th:fragment="breadcrumb"
    class="breadcrumb">

    <th:block th:each="breadcrumb, it : ${breadcrumbs}">
        <li class="breadcrumb-item" th:classappend="${it.last} ? 'active'">
            <a th:if="${not it.last && breadcrumb.clickable}" th:text="${breadcrumb.title}" th:href="${breadcrumb.url}"></a>
            <span th:if="${not it.last && not breadcrumb.clickable}" th:text="${breadcrumb.title}"></span>
            <th:block th:if="${it.last}" th:text="${breadcrumb.title}"/>
        </li>
    </th:block>
</ol>